DATABASES = {
  'default': {
    'ENGINE': 'django.db.backends.postgresql',
    'NAME': 'crime_clustering_api',
    'USER': 'user_db',
    'PASSWORD': 'password',
    'HOST': 'localhost',
    'PORT': '5433' or '5432', // depends on your installation of pgsql
  }
}
