DATABASES = {
  'default': {
    'ENGINE': 'django.db.backends.postgresql',
    'NAME': 'database_name',
    'USER': 'user_db',
    'PASSWORD': 'password',
    'HOST': 'localhost',
    'PORT': '5433',
  }
}
